/* Vendors */
@import 'vendors/normalize.scss';

body {
  background: #EEE2E2;
}

/* Chart stuff */
.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}