/* Vendors */
@import 'vendors/normalize.scss';

body {
  background: white;
}

/* Main Navigation */
.main-nav {
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    li {
      color: white;
      font-family: 'Open Sans';
      font-weight: bolder;
      font-size: 20px;
    }
  }
}

/* Footer */
footer {
  background: #222;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 35px;
    li a {
      display: flex;
      font-family: 'Open Sans';
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
    }
  }
}

/* Home View */
.home-view {
  padding-top: 50px;
  padding-bottom: 50px;
  .home-list-container {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: column;
    margin: 20px 20px;
    li {
      box-shadow: 0 2px 8px rgba(14,21,47,0.25);
      display: flex;
      border-radius: 3px;
      justify-content: center;
      background: #f4e5ea;
      font-family: 'Open Sans';
      font-weight: bolder;
      font-size: 15px;
      text-align: center;
      align-items: center;
      padding: 75px;
      color: #222;
      margin-bottom: 20px;
    }
  }
}

/* Results View */
.results-view {
  padding-top: 40px;
  padding-bottom: 50px;
  .results-list-container {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    li a {
      display: flex;
      width: 100%;
      margin-bottom: 15px;
      box-shadow: 0 2px 8px rgba(14,21,47,0.25);
      font-family: 'Open Sans';
      padding: 10px;
      background: #f4e5ea;
      text-decoration: none;
      justify-content: space-between;
      span {
        font-family: 'Open Sans';
        font-size: 12px;
      }
      .results-stats {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 90%;
      }
      .results-stats ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-bottom: 12px;
        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      .results-location {
        display: flex;
        justify-content: space-around;
      }
    }
  }
  .results-location {

  }
}

/* Chart stuff */
.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}